public/logs/
.idea/
Thumbs.db
public/informe/pdf/
public/informe/csv/
public/import/
public/export/
node_modules/
data/
z_config_files/
/config.js
/control.vbs
/estat.log
/proces.id
public/pantallas/donostia/logos/
public/pantallas/malaga/logos/
public/pantallas/vitoria/logos/
.vscode/
