#network-container{
    width: 500px;
    margin: auto;
}

#network-container .row{
    display: flex;
    justify-content: center;
    flex: 1;
}

#network-container .column{
    width: 80px;
    text-align: center;
}

#network-container .region{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#network-container .static{
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}

#network-container .region > .title{
    margin-top: 10px;
    margin-bottom: 5px;
    color: #404040;
    font-weight: bold;
    width: 50px;
    text-align: center;
    display: flex;
}

#network-container .region > .region-output{
    width: 30px;
}

#network-container .regions .neuron .title{
    text-align: center;
}

#network-container .layers{
    display: flex;
    flex-direction: column;
}

#network-container .ouputs{
    margin-top: 10px;
}

#network-container .input, #network-container .output, #network-container .layer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#network-container .state{
    width: 15px;
    height: 15px;
    border-radius: 5px;
    background-color: #FFF;
    color: #000;
    margin: 2px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
}

#network-container .state[state="0"]{
    background-color: #CCC;
}

#network-container .state[state="1"]{
    background-color: #3eadcc;
}

#network-container #inhibitor-neuron-0.state[state="1"]{
    background-color: #cc4138;
}

#network-container .state[state="2"]{
    background-color: #66cc5b;
}

#network-container .state[state="3"]{
    background-color: #cc4138;
}

#network-container .state[state="4"]{
    background-color: #b14dcc;
}

#network-container .legend {
    display: flex;
}

#network-container .legend .description{
    display: flex;
    align-items: center;
}

#network-container .sequence{
    display: flex;
}

#network-container .sequence .item{
    width: 40px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 10px;
    text-align: center;
}

#network-container .sequence .item .index{
    border-bottom: 1px solid #CCC;
}

#network-container .static .title{
    font-size: 14px;
    font-weight: bold;
    color: #404040;
    margin-bottom: 10px;
}

#network-container .static .title span{
    font-weight: normal;
}

#output-ask {
    font-size: 20px;
    font-weight: bold;
    color: #404040;
    transition: 0.25s color ease-in-out;
}

#output-ask.highlight{
    color: #fff;
}

